# Ignorar modelos grandes y archivos temporales

tagger/models/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.onnx
.env
.venv
.envrc
.DS_Store
Thumbs.db
.idea/
.vscode/

# Ignorar archivos de salida de Streamlit
.streamlit/

# Ignorar archivos ZIP generados
*.zip
